@use './colors';
@use './components';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: colors.$white;
}

.nav-desktop {
	display: none;
}

.nav-mobile {
	position: relative;
	z-index: 10;
	overflow: hidden;

	&__close-btn,
	&__menu {
		position: fixed;
		top: 20px;
		right: 20px;
		width: 60px;
	}

	&__list {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4em;
		height: 100svh;
		width: 100%;
		background-color: #fff;
		list-style: none;
		transform: translateX(100%);
		transition: transform 0.3s;

		&--item {
			a {
				padding: 1em;
				font-size: 2.4rem;
				color: colors.$black;
				text-decoration: none;
			}
		}
	}
}

.nav-items-animation {
	animation: slideIn 1s both;
}

.active {
	transform: translateX(0);
}

@keyframes slideIn {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}

// HEADER
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 85svh;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4em;
		// margin-top: 2em;
	}

	&__custom-text {
		height: 50px;
	}

	&__img-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 250px;
		// border: 5px solid black;
		border-radius: 50%;
		overflow: hidden;
		// background-image: url('../../dist/img/profilowe.jpg');
		// background-size: cover;
		// background-position: center;
	}

	&__img {
		width: 100%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 5.2rem;
		text-align: left;
		text-align: center;
	}
}

.assets-box {
	.asset {
		display: none;
	}
}

// MAIN
.main {
	margin-top: 3em;
}

// ABOUT-ME
.about-me {
	&__content {
		display: flex;
		flex-direction: column-reverse;
		gap: 3em;
		margin-top: 5em;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		gap: 2em;
		font-size: 2rem;
		line-height: 1.5em;
		max-width: 65ch;
	}

	&__link {
		color: colors.$black;
		cursor: pointer;
	}

	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 60%;
	}
}

//OFFERS
.offers {
	&__cards-box {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap: 6em;
		margin-top: 4em;
	}

	.card {
		position: relative;

		&__img {
			width: 100%;
			margin-top: 2em;
		}

		&__title {
			position: absolute;
			top: 0;
			left: 50%;
			width: 100%;
			margin: 0 auto;
			font-size: 2.4rem;
			text-align: center;
			text-transform: uppercase;
			transform: translateX(-50%);
		}

		&__price {
			text-align: center;
			font-size: 3.2rem;
			margin: 0.5em 0;
		}

		&__options {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			list-style: none;
			padding: 0 2em;
		}

		&__option {
			// display: block;
			padding: 0 0.5em;
			margin: 0.5em 0;
			font-size: 1.8rem;
			line-height: 1.5em;
		}

		&__button {
			display: block;
			padding: 1.5em 4em;
			margin: 2em auto;
			width: 80%;
			color: colors.$black;
			background-color: colors.$white;
			border: 1px solid colors.$black;
			border-radius: 10px;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
		}

		&__button:hover {
			color: colors.$white;
			background-color: colors.$black;
		}
	}
}

.test {
	min-height: 100svh;
}

// =============
// ** MEDIA **
// =============

@media (min-width: 768px) {
	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: colors.$white;
		// box-shadow: 0 0 5px colors.$black;
		border-bottom: 1px solid colors.$light-grey;
		width: 100%;
		height: 130px;
		padding: 0 2em;
		z-index: 100;

		&__icon {
			width: 130px;
		}

		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__list {
			display: flex;
			list-style: none;

			&--item {
				a {
					position: relative;
					padding: 0.5em;
					font-size: 2.4em;
					color: colors.$black;
					text-decoration: none;
				}

				a::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 3px;
					width: 100%;
					background-color: colors.$black;
					transform: scaleX(0);
					transition: transform 0.3s;
					transform-origin: right;
				}

				a:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}

	.header {
		height: 100svh;

		&__content {
			margin-top: 12em;
		}

		&__img-box {
			width: 400px;
			height: 400px;
			box-shadow: 0 0 5px #333;
		}

		&__text {
			font-size: 6.4rem;
		}
	}

	.assets-box {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;

		.asset {
			display: block;
			position: absolute;
		}

		.dots {
			top: -22%;
			right: -78%;
		}

		.cross:nth-child(1) {
			top: 83%;
			left: 76%;
			width: 11%;
			// width: 8%;
			animation: rotateToRight 60s infinite;
		}

		.cross:nth-child(2) {
			top: 75%;
			left: 6%;
			width: 15%;
			// width: 15%;
			animation: rotateToLeft 60s infinite;
		}
		.cross:nth-child(3) {
			top: 17%;
			left: 7%;
			width: 13%;
			// width: 8%;
			animation: rotateToRight 60s infinite;
		}
	}

	@keyframes rotateToRight {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(360deg);
		}
	}

	@keyframes rotateToLeft {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(-360deg);
		}
	}

	.about-me {
		&__text-box {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 992px) {
	.nav-desktop {
		&__list {
			&--item {
				a {
					padding: 1em;
				}
			}
		}
	}

	.assets-box {
		.dots {
			top: -29%;
			right: -54%;
		}

		.cross:nth-child(1) {
			top: 79%;
			left: 73%;
			width: 11%;
		}

		.cross:nth-child(2) {
			top: 67%;
			left: 9%;
			width: 16%;
		}
		.cross:nth-child(3) {
			top: 17%;
			left: 7%;
			width: 14%;
		}
	}

	.about-me {
		&__content {
			flex-direction: row;
			align-items: center;
			gap: 5em;
		}

		&__text-box {
			font-size: 2.4rem;
		}

		&__img {
			width: 100%;
		}
	}

	.offers {
		.card {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid colors.$black;
			border-radius: 10px;
			width: 100%;
			overflow: hidden;

			&__img {
				width: 50%;
			}

			&__title {
				position: relative;
				font-size: 4.8rem;
			}

			&__button {
				margin-top: 4em;
			}
		}
	}
}

@media (min-width: 1200px) {
	.assets-box {
		.dots {
			top: -35%;
			right: -30%;
		}

		.cross:nth-child(1) {
			top: 84%;
			left: 68%;
			width: 7%;
		}

		.cross:nth-child(2) {
			top: 66%;
			left: 9%;
			width: 16%;
		}
		.cross:nth-child(3) {
			top: 21%;
			left: 6%;
			width: 10%;
		}
	}

	.offers {
		.card {
			width: 110%;

			&__button {
				width: 580px;
			}
		}
	}
}
